[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"psycopg2" = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
flask-cors = "*"
flask-heroku = "*"
"beautifulsoup4" = "*"
requests = "*"
regex = "*"

[dev-packages]

[requires]
python_version = "3.7"
